body{
    background: linear-gradient(to right, rgba(0, 0, 200, 0.15), transparent 25%), linear-gradient( rgba(88, 31, 37, 1), rgba(149, 57, 32, 1));
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}    
